<!DOCTYPE html>
<html ng-app="firstApp">
  <head>
    <meta charset="utf-8">
    <title>{{ greeting }} World</title>
    <link rel="stylesheet" href="/main.css" >
  </head>
  <body>
    <h1>Intro and Set up</h1>
    <p>
      {{1 + 6}}
    </p>
    <p>Say something to the world <input type="text" ng-model="greeting" ng-init="greeting='Hello, '"></p>
    <p>{{ greeting }} world!</p>
    <h1>Data-Binding</h1>
    <input type="text" placeholder="What is your name?" ng-model="name">
    <h2>My name is {{name}}</h2>
    <select ng-model="pie">
      <option>Dogs</option>
      <option>Cats</option>
      <option>Dogs and Cats</option>
      <option>Neither</option>
    </select>
    <h3>i like {{pie}}</h3>

    1 + 2 = {{1 + 2}}<br>
    My name is {{"BoJack" +  " Horseman"}}<br>
    The array [99,43,22] is {{ [99,43,22].length }} items long.<br>
    <h1>04 Expressions and Filters</h1>
    {{3.14159265359 | currency}} <br>
    {{(3.14159265359 | number:2) + " €"}}
    <form action="#" method="post">
      <label>Please say something</label>
      <input type="text" ng-model="text">
    </form>
      <p>Yelling: {{text | uppercase }}</p>
      <p>Whispering: {{text | lowercase }}</p>
    {{3.14159265359 | number:3}}<br>
    {{3.14159265359 | number:6}}<br>
    {{3.14159265359 | number:1}}<br>
    <h4>How many digits fo pi do you want?
      <select ng-model="pi">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
      </select>
    </h4>
    <h4>Here you go! The first {{pi}} of pi!</h4>
    <p>
      {{3.14159265359 | number:pi}}
    </p>
    <h2>Super useful tip calculator</h2>
    <p>How much did your meal cost? <input type="text" ng-model="subTotal"></p>
    <p>How much do you want to tip?
      <select ng-model="tip">
        <option>10</option>
        <option>15</option>
        <option>20</option>
      </select>
    </p>
    <h3>Subtotal: {{subTotal | currency }}</h3>
    <h3>Tip: {{subTotal * tip/100 | currency }}</h3>
    <div>{{this}}</div>
    <h1>Mad Libs</h1>
    <label>Boy's Name</label>
    <input type="text" ng-model="boysName"><br>
    <label>Adjective</label>
    <input type="text" ng-model="adj"><br>
    <label>Plural Noun</label>
    <input type="text" ng-model="pNoun1"><br>
    <label>Plural Noun</label>
    <input type="text" ng-model="pNoun2"><br>
    <label>An insect, plural</label>
    <input type="text" ng-model="insect"><br>
    <label>Plural Noun</label>
    <input type="text" ng-model="pNoun3"><br>
    <label>A verb ending in "s"</label>
    <input type="text" ng-model="verb"><br>
    <p>
      I'm in love with {{boysName | uppercase}}. He's so {{adj | uppercase}}! He has big flat {{pNoun1 | uppercase}}, and when our {{pNoun2 | uppercase}} meet, I get {{insect | uppercase}} in my stomach. I've fallen for him like a ton of {{pNoun3 | uppercase}}, and he {{verb | uppercase}} me, too. But I think he's got another girlfriend. What should I  do?
    </p>
    <h1>05 Built in Directives</h1>
    <p> ng-app, ng-model, ng-init</p>
    <div ng-init="names=['Harry', 'Ron', 'Hermione', 'Sirius', 'Hedwig', 'Tonks']">
      <ul>
        <li ng-repeat='name in names'>
          {{name}}
         </li>
      </ul>
      <p> USED ng-repeat on the UL TAG</p>
      <ul ng-repeat='name in names'>
        <li>{{name}}</li>
      </ul>
    </div>
    <div ng-init="symbols=['Spades', 'Clubs', 'Hearts', 'Diamonds']">
      <ul>
        <li ng-repeat='symbol in symbols'>
          {{symbol}}
          <md-icon md-svg-src = 'some url'></md-icon>
         </li>
      </ul>
    </div>
    <div ng-repeat="value in [1,1,1,2,3,4,9,9,9,9] track by $index">
    </div>
    <div ng-show='3 + 4 == 5'> <!-- this whole div will NOT show  show = false-->
      3 + 4 isn't 5, don't show
    </div>
    <div ng-show='3 + 4 == 7'> <!-- this whole div WILL show  show = true-->
      3 + 4 is 7, do show
    </div>
    <div ng-hide='3 + 4 == 5'> <!-- this whole div WILL show hide = false -->
        3 + 4 isn't 5, don't hide
    </div>
    <div ng-hide='3 + 4 == 7'> <!-- this whole div will NOT show hide = true-->
      3 + 4 is 7, do hide
    </div>
    <h3>Sign up page</h3>
    <input ng-class="{bad: pwd.length <= 5, good: pwd.length >= 6}" type="password" ng-model="pwd">
    <p>Your password is {{pwd.length}} characters</p>
    <p ng-hide="pwd.length >= 6" ng-class="{bad: true}">Password is invalid</p>
    <p ng-show="pwd.length >= 6" ng-class="{good: true}">Password is invalid</p>
    <button ng-show="pwd.length >= 6 " type="submit">Sign up!</button>
    <div ng-class='{highlight: 4 + 4 == 8}'> 4 + 4 = 8</div> <!-- true -->
    <div ng-class='{highlight: 4 + 4 == 10}'>4 + 4 = 10</div> <!-- false -->
    <h3>Camera Shop</h3>
    <div ng-init="cameras=[{
      title: 'Nikon D3100 DSLR',
      image: 'http://ecx.images-amazon.com/images/I/713u2gDQqML._SX522_.jpg',
      rating: 3.4,
      price: 369.99,
      onSale: true
    },
    {
      title: 'Canon EOS 70D',
      image: 'http://ecx.images-amazon.com/images/I/81U00AkAUWL._SX522_.jpg',
      rating: 2.0,
      price: 1099.0,
      onSale: false
    },
    {
      title: 'Nikon D810A',
      image:'http://ecx.images-amazon.com/images/I/91wtXIfLl2L._SX522_.jpg',
      rating: 4.2,
      price: 3796.95,
      onSale: true
    }]">
    <select ng-model="sale">
      <option>price</option>
      <option>rating</option>
    </select>
    <ul>
      <li ng-repeat="camera in cameras | orderBy: sale "> <!-- do this by your ng-model -->
        {{camera.title}}
        <img src="{{camera.image}}" alt="camera" />
        <p>{{camera.rating}}</p>
        <p>{{camera.price | currency}} <span ng-show="{{camera.onSale}}" ng-class="{highlight: true}">ON SALE</span></p>
      </li>
    </ul>

    </div>
    <div ng-controller="MyFirstController">
      <h1>My name is: {{name}}</h1>
      <input ng-model="name" type="text" placeholder="What is your name">
    </div>
    <div ng-controller="ExercisesController">
      <h2 ng-style='{"color": FavColor}'>My favorite color is {{FavColor}}</h2>
      <h3>There are {{secondsInACentury | number}} seconds in a century</h3>
      <h3>Current time: {{rightNow | date:'EEEE, MMMM d, y'}}</h3>
    </div>
    <div ng-controller="MadLib">
      <form name="myForm">
        <label>Boy's Name</label>
        <input type="text" ng-model="boysName"><br>
        <label>Adjective</label>
        <input type="text" ng-model="adj"><br>
        <label>Plural Noun</label>
        <input type="text" ng-model="pNoun1"><br>
        <label>Plural Noun</label>
        <input type="text" ng-model="pNoun2"><br>
        <label>An insect, plural</label>
        <input type="text" ng-model="insect"><br>
        <label>Plural Noun</label>
        <input type="text" ng-model="pNoun3"><br>
        <label>A verb ending in "s"</label>
        <input type="text" ng-model="verb"><br>
        <button type="submit" ng-click="mad(boysName, adj, pNoun1, pNoun2, insect, pNoun3, verb)">Generate!</button>
      </form>
      <h3>Mad with the Libs</h3>
      <p ng-show="showMadLib">
        I'm in love with {{customBoysName | uppercase}}. He's so {{customAdj | uppercase}}! He has big flat {{custompNoun1 | uppercase}}, and when our {{custompNoun2 | uppercase}} meet, I get {{custominsect | uppercase}} in my stomach. I've fallen for him like a ton of {{custompNoun3 | uppercase}}, and he {{customverb | uppercase}} me, too. But I think he's got another girlfriend. What should I  do?
      </p>
      <button ng-show="showMadLib" type="submit" ng-click="clear()">Play Again?</button>
    </div>
    <div ng-controller="MainController">
      {{view.message}}
      <div class="">
        {{view.message}}
        <div ng-if="view.number === 42">
          Secret Message: <input type="text" ng-model="view.message">
        </div>
      </div>
    </div>
    <h1>08 Intro to Events</h1>
    <div ng-controller="RandomNumber">
      <h3>The number is {{view.number}}</h3>
      <button ng-click="pickRandomNumber()">Pick Random Number</button>
      <h3>Word Reversal</h3>
      <input type="text" ng-model="view.word">
      <button ng-click="reverseWord(view.word)">Reverse this word now!!!</button>
      {{view.word}}
    </div>
    <div ng-controller="PingPong">
      <h2>Ping Pong Score Keeper</h2>
      <div class="player" ng-model="game.player1" ng-click="game.player1 = game.player1 + 1" ng-class="{bad: game.player1 <= 5, good: game.player1 = 11}">
        {{game.player1}}
      </div>
      <div class="player" ng-model="game.player2" ng-click="game.player2 = game.player2 + 1" ng-class="{bad: game.player2 <= 5, good: game.player2 >= 6}">
        {{game.player2}}
      </div>
      <button ng-click="reset()">Clear this game!</button>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script type="text/javascript" src="controller/angular.js"></script>
    <script type="text/javascript" src="controller/app.js"></script>
    <script type="text/javascript" src="controller/madController.js"></script>
  </body>
</html>
